#
alias szsh="source ~/.zshrc"

# vim
alias v="nvim"
alias vim="nvim"

# git
alias gqs="git add . && git commit -m 'qs'"
alias grs="git pull --rebase origin main"
alias gbrd="git branch --merged | grep -v main | xargs git branch -d"

# python
alias ptdebug='pytest -n0 -s'

# github
alias ghv="gh pr view --web"
alias ghqs="git commit -am 'qs' && gp"

alias gg="gqs && gt usr && gt rs && gt ss && gh pr merge --auto -s"


# idk
#  pytest | grep FAILED | sed "s/FAILED \(.*py\)::Test::test.*/\1/g" | sort | uniq

alias dots='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias dots_qs="dots add -u && dots commit -m 'hi' && dots push"
alias dots_s="dots status -uno"

# terraform
alias tf="terraform"
